
body::before {
    display: block;
    content: '';
    height: 60px;
}

.img-mapa {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

@media(min-widht: 768px) {
    .news-input {
        width: 50%;
    }
}